struct WiFiCredentials {
    const char* ssid;
    const char* password;
};

// list of WiFi credentials to try connecting to
static const WiFiCredentials wifi_credentials[] = {
    {WIFI_SSID, WIFI_PASSWORD},
    // Add more WiFi credentials here if needed
};

#ifndef WIFI_SSID
#define WIFI_SSID "Slug and Dandelion"
#endif

#ifndef WIFI_PASSWORD
#define WIFI_PASSWORD "toastandpopcorn"
#endif