struct WiFiCredentials {
    const char* ssid;
    const char* password;
};

// list of WiFi credentials to try connecting to
static const WiFiCredentials wifi_credentials[] = {
    {WIFI_SSID, WIFI_PASSWORD},
    // Add more WiFi credentials here if needed
};

#define SB_URL ""
#define SB_ANON_KEY ""
#define SB_PASSWORD ""